<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <form #farmForm="ngForm">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Farm Name</mat-label>
                            <input matInput placeholder="Farm name" type="text"
                                   [(ngModel)]="farm.farmName"
                                   #FarmName="ngModel" name="farmName" required>

                            <div *ngIf="FarmName.errors && (FarmName.dirty || FarmName.touched)">
                                <small class="gene-block" *ngIf="FarmName.errors.required && FarmName.touched"
                                       class="text-danger">
                                    You must include a farm name.
                                </small>
                            </div>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Food</mat-label>
                            <mat-select placeholder="Food" name="food"
                                        [(ngModel)]="farm.foodSeq"
                                        #Food="ngModel" required>
                                <mat-option *ngFor="let food of foodList"
                                            [value]="food.foodSeq">
                                    {{food.foodName}}
                                </mat-option>
                            </mat-select>

                            <div *ngIf="Food.errors && (Food.dirty || Food.touched)">
                                <small class="gene-block" *ngIf="Food.errors.required && Food.touched"
                                       class="text-danger">
                                    You must include a food.
                                </small>
                            </div>
                        </mat-form-field>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>User</mat-label>
                            <mat-select placeholder="User" name="user"
                                        [(ngModel)]="farm.userSeq"
                                        #User="ngModel" required>
                                <mat-option *ngFor="let user of userList"
                                            [value]="user.userSeq">
                                    {{user.username}}
                                </mat-option>
                            </mat-select>

                            <div *ngIf="User.errors && (User.dirty || User.touched)">
                                <small class="gene-block" *ngIf="User.errors.required && User.touched"
                                       class="text-danger">
                                    You must include a user.
                                </small>
                            </div>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Pesticides Name</mat-label>
                            <input matInput placeholder="Pesticides Name" type="text"
                                   [(ngModel)]="farm.pesticideName"
                                   #PesticidesName="ngModel" name="pesticideName">
                        </mat-form-field>
                    </div>


                </div>
                <div class="row">


                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Fertilizer Name</mat-label>
                            <input matInput placeholder="Fertilizer Name" type="text"
                                   [(ngModel)]="farm.fertilizerName"
                                   #FertilizerName="ngModel" name="fertilizerName">
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Address</mat-label>
                            <textarea matInput placeholder="Address" type="text"
                                      [(ngModel)]="farm.address"
                                      #Address="ngModel" name="address" required></textarea>
                        </mat-form-field>
                        <div *ngIf="Address.errors && (Address.dirty || Address.touched)">
                            <small class="gene-block" *ngIf="Address.errors.required && Address.touched"
                                   class="text-danger">
                                You must include a address.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Contact No</mat-label>
                            <input matInput placeholder="Contact No" type="text"
                                   [(ngModel)]="farm.contactNo"
                                   #Contact="ngModel" name="contactNo">
                        </mat-form-field>
                    </div>
                </div>

                <button mat-raised-button type="submit" (click)="saveFarm()" [disabled]="farmForm.invalid"
                        class="btn btn-danger pull-right">Save Farm
                </button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
<!--            <div class="col-md-4">-->
<!--                <div class="card card-profile">-->
<!--                    <div class="card-avatar">-->
<!--                        <a href="javascript:void(0)">-->
<!--                            <img class="img" src="./assets/img/faces/marc.jpg"/>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <h6 class="card-category text-gray">CEO / Co-Founder</h6>-->
<!--                        <h4 class="card-title">Alec Thompson</h4>-->
<!--                        <p class="card-description">-->
<!--                            Don't be scared of the truth because we need to restart the human foundation in truth And I-->
<!--                            love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...-->
<!--                        </p>-->
<!--                        <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

