<div style="margin-top: 70px; padding: 5px 10px;">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form #packingDetailsForm="ngForm">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Packing</mat-label>
                                <mat-select placeholder="Packing" name="Packing"
                                            [(ngModel)]="transactionDetails.packingLocationSeq"
                                            #Location="ngModel" required>
                                    <mat-option *ngFor="let location of locationList"
                                                [value]="location.locationSeq">
                                        {{location.locationName}}
                                    </mat-option>
                                </mat-select>

                                <div *ngIf="Location.errors && (Location.dirty || Location.touched)">
                                    <small class="gene-block" *ngIf="Location.errors.required && Location.touched"
                                           class="text-danger">
                                        You must include a Location.
                                    </small>
                                </div>
                            </mat-form-field>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="full-wid" appearance="outline">
                                    <mat-label>Pick Date</mat-label>
                                    <input matInput [owlDateTime]="fromDate" [owlDateTimeTrigger]="fromDate"
                                           placeholder="From Date" name="fromDate" required
                                           [(ngModel)]="transactionDetails.packingReceivedDate"
                                           #FromDate="ngModel">
                                    <mat-icon
                                             matSuffix [owlDateTimeTrigger]="fromDate">date_range
                                    </mat-icon>
                                    <owl-date-time [pickerType]="'calendar'" #fromDate></owl-date-time>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field class="full-wid" appearance="outline">
                                    <mat-label>Delivered Date</mat-label>
                                    <input matInput [owlDateTime]="toDate" [owlDateTimeTrigger]="toDate"
                                           placeholder="To Date" name="toDate" required
                                           [(ngModel)]="transactionDetails.packingDeliveredDate" #ToDate="ngModel"
                                           [min]="transactionDetails.packingReceivedDate">
                                    <mat-icon
                                             matSuffix [owlDateTimeTrigger]="toDate">date_range
                                    </mat-icon>
                                    <owl-date-time [pickerType]="'calendar'" #toDate></owl-date-time>
                                </mat-form-field>
                            </div>


                        </div>

                        <button mat-raised-button type="submit" (click)="saveTransporterDetails()" [disabled]="packingDetailsForm.invalid"
                                class="btn btn-danger pull-right">Save
                        </button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


